doctype strict
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Verify your login
  //if mso
    style(type='text/css').
      body, table, td, a { font-family: Arial, Helvetica, sans-serif !important; }
table(role='presentation' style='width: 100%; border-collapse: collapse; border: 0px; border-spacing: 0px; font-family: Arial, Helvetica, sans-serif; background-color: rgb(247, 245, 255);')
  tbody
    tr
      td(align='center' style='padding: 1rem 2rem; vertical-align: top; width: 100%;')
        table(role='presentation' style='max-width: 600px; border-collapse: collapse; border: 0px; border-spacing: 0px; text-align: left;')
          tbody
            tr
              td(style='padding: 40px 0px 0px;')
                div(style='text-align: left;')
                  div(style='padding-bottom: 20px;')
                    img(src='https://assets-global.website-files.com/5f7d26e31beb861333446130/5f7f06e041e09a0b2becdcad_ShaktitQC.png' alt='Opstech' style='width: 85px;')
                div(style='padding: 20px; background-color: rgb(255, 255, 255);')
                  div(style='color: rgb(0, 0, 0); text-align: left;')
                    h1(style='margin: 1rem 0') Verification
                    p(style='padding-bottom: 16px') Please use the verification code below to sign in.
                    p(style='padding-bottom: 16px')
                      strong(style='font-size: 130%') #{otp}
                    p(style='padding-bottom: 16px') If you didn&rsquo;t request this, you can ignore this email.
                    h3
                      center(style='font-size: 80%') OR
                    p(style='padding-bottom: 16px')
                      a(href='#{link}' style='color:darkblue;font-weight:bold') Click Here
                      |  to verify from here
                      |                         directly
                    p(style='padding-bottom: 16px')
                      | Thanks,
                      br
                      | Opstech
                div(style='padding-top: 20px; color: rgb(147, 138, 138); text-align: center;')
                  p(style='padding-bottom: 16px') Made with &hearts; by github.com/ajju2211
